@keyframes slideshow {
    0% { background-image: url('../../../public/images/1.jpeg'); }
    10% { background-image: url('../../../public/images/2.jpeg'); }
    20% { background-image: url('../../../public/images/3.jpeg'); }
    30% { background-image: url('../../../public/images/4.jpeg'); }
    40% { background-image: url('../../../public/images/5.jpeg'); }
    50% { background-image: url('../../../public/images/6.jpeg'); }
    60% { background-image: url('../../../public/images/7.jpeg'); }
    70% { background-image: url('../../../public/images/8.jpeg'); }
    80% { background-image: url('../../../public/images/9.jpeg'); }
    90% { background-image: url('../../../public/images/10.jpeg'); }
    100% { background-image: url('../../../public/images/IMG_7051.jpeg'); }
  }
  
  .home {
    background-image: url('../../../public/images/1.jpeg');
    animation: slideshow 60s infinite;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.home h1 {
    font-size: 3rem;
    font-family: 'ZCOOL KuaiLe', Arial, sans-serif;
}
  