.navbar {
  background: linear-gradient(to right, #F8BBD0, #F48FB1, #F06292);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1000;
}

.logo img {
  height: 35px;
  width: auto;
  border-radius: 5px;
}

.menu-icon {
  display: none; 
  cursor: pointer;
}

.menu-icon img {
  width: 90px;
  height: 50px;
}

.navbar-center {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-center.show {
  display: flex; 
  flex-direction: column;
  background: #F8BBD0; 
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 999;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-list li a:hover {
  color: #FF80AB;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: 'ZCOOL KuaiLe', Arial, sans-serif;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input:focus {
  outline: none;
  border-color: #FF80AB;
  box-shadow: 0 0 5px rgba(255, 128, 171, 0.5);
}

.audio-control {
  margin-right: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.audio-control img {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 10px;
}

.navbar-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s;
}

.navbar-list li a:hover {
  color: #FF80AB;
}

.navbar-list li a.active {
  color: #080707;
}

.navbar-list li a.active::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 30px;
  background-image: url('../../../public/images/å…”.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%; 
}

@media (max-width: 500px) {
  .menu-icon {
    display: block; 
  }

  .navbar-center {
    display: none;
  }

  .navbar-list {
    flex-direction: column; 
    gap: 1rem;
  }

  .search-bar {
    margin-left: 0;
  }

  .logo img {
    display: none;
  }

  .navbar-list li a.active::after {
    background-image: none;
  }
}
